.vimeo_wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	width: 100%;
}

.vimeo_wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 991px) {
	.tablet-show {
		display: none;
	}
}

.sticky_curriculum-content_wrapper {
	transition: height 0.5s ease-in-out;
	-webkit-transition-duration: 0.5s;
	overflow: hidden;
}

@media (max-width: 991px) {
	.sticky_curriculum-content-wrapper_hide {
		height: 0px;
		transition: height 0.5s ease-in-out;
		-webkit-transition-duration: 0.5s;
	}
}

.sticky_curriculum-title_wrapper {
	display: flex;
}

.rotate-180 {
	transform: rotate(180deg);
}
